.container-header {
    display: flex;
    min-height: 50px;
    align-items: center;
  }

  .zoom-crear-div
  {
    width: 1400px;
    justify-items: center;
  }
  .zoom-crear-row
  {
    margin-bottom: 2%;
    align-items: center;
  }
  .container-controls {
    min-height: 60px;
    
    padding-left: 50px;
    padding-right: 50px;
    
    flex-wrap: wrap;
    width: 100%;
  }

  .zoomscroll-content {
    max-height: 425px;
    overflow-y: auto; 
    overflow-x: auto;
    width: 95%;
    padding-right: 20px;
    margin: auto;
    margin-bottom: 30px;
  
  }
  .zoom-crear-title {
    font-size: 40px;
    margin-left: 30px;
    padding: 20px;
    color: #388afc !important;
    font-weight: bold;
    margin-bottom: -2%;
    margin-left: 37%;
  }
  
  .zoom-crear-title2 {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 120px;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
  }

.style-btn-cancelar{
  width: 150px;
  margin: 40px;
}

.style-btn-crear
{
  width: 200px;
}

.style-column
{
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}

.style-column1
{
border-bottom: 1px solid #ccc;
padding: 15px;
}

.style-column2
{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
  padding: 15px;
}
.form-control
{
  margin-left: 100px;
  width: 70%;
}

.form-control1
{
  margin-left: 4px;
  width: 78%;
}

@media (width: 1280px) and (height: 700px){
  .style-btn-cancelar{
    width: 150px;
    margin: 40px;
    margin-left: -30px;
  }

  .zoom-crear-title {
    font-size: 40px;
    margin-left: 30px;
    padding: 20px;
    color: #388afc !important;
    font-weight: bold;
    margin-bottom: -2%;
    margin-left: 35%;
  }
  
  .zoom-crear-title2 {
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-left: 100px;
}

.zoomscroll-content {
  max-height: 425px;
  overflow-y: auto; 
  overflow-x: auto;
  width: 90% !;
  padding-right: 20px;
  margin: auto;
  margin-bottom: 30px;

}
}