/* PopUp_CrearUser.css */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.3s ease;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 90%;
  width: 600px;
  text-align: center;
  position: relative;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px; /* Gap between columns and rows */
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  position: relative;
}

.password-input {
  position: relative; /* Añade posición relativa para que el icono se posicione correctamente */
}

.password-input input {
  width: 100%; /* Ajusta el ancho del campo de contraseña al 100% */
  padding-right: 40px; /* Añade un espacio a la derecha para el icono */
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 5px; /* Ajusta la posición del icono a la derecha */
  transform: translateY(-50%);
  cursor: pointer;
}
