/*font family*/

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&family=Raleway:ital,wght@0,400;0,600;1,300;1,400&display=swap");

:root {
  --ff-primmary: "Segoe UI ", Arial, sans-serif;
  --ff-secondary: "Raleway", sans-serif;
  --clr-primary: #202a53;
  --clr-secondary: #c21718;
  --clr-accent-1: #1d1d1b;
  --clr-accent-2: #ffffff;
}

html,
body {
  font-family: var(--ff-primmary);
  font-size: 1rem;
  resize: none;
}

.clr-primary {
  color: var(--clr-primary);
}
.clr-secondary {
  color: var(--clr-secondary);
}

.clr-accent-1 {
  color: var(--clr-accent-1);
}

.clr-accent-2 {
  color: var(--clr-accent-2);
}
.ff-secondary {
  font-family: var(--ff-secondary);
}
