.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.about-us-column {
  flex: 1;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  border-right: 2px solid #000;
}

.about-us-column:last-child {
  border-right: none;
}

.pie {
  background-color: #002659;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 130%;
  width: 100%;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .about-us-columns {
    flex-direction: column;
    align-items: center;
  }

  .about-us-column {
    flex: 1;
    margin-top: 20px;
    border-right: none;
  }

  .pie {
    top: 100%;
  }
}
