.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  min-height: 140vh; 
  position: relative;
}

.about-us-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.last-line {
  display: none;
}


.about-us-column {
  flex: 1;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  border-right: 2px solid #000;
}

.about-us-column:last-child {
  border-right: none;
}

.pie {
  background-color: #002659;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 150px; 
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}



@media screen and (max-width: 1200px) {
  .about-us-columns {
    flex-wrap: wrap;
  }

  .about-us-column {
    flex: 1;
    margin-top: 20px;
    border-right: none;
  }
}

@media screen and (max-width: 768px) {
  .about-us-columns {
    flex-direction: column;
    align-items: center;
  }

  .about-us-column {
    flex: 1;
    margin-top: 20px;
    border-right: none;
  }

  .pie {
    position: relative; 
  }
}

@media screen and (max-width: 480px) {
  .about-us-container {
    padding: 10px;
  }
}
