.account-container {
  display: flex;
  flex-direction: row;
    width: 100%;
    height: auto;
}

.account-box {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.account-header {
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
}

.account-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.remove-filter-button{
  background-color: transparent;
  color: #003b88;
  border: 1px solid #003b88;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-right: 1%;
  position: relative;
}

.limpiar-filtro-div{
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 10%);
  color: #003b88;
  border: 1px solid #003b88;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 4px 8px;
  width: 8rem;
  text-align: center;
  z-index: 1;
}

.crear-cuenta-button {
  margin-right: 3%;
  background-color: #003b88;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  width: 10%;
}

.search-user-box {
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 1%;
  width: 22%;
  border: 1px solid #003b88;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.iconSearch-box {
  position: absolute;
  top: 7px;
  right: 5px;
  color: #003b88;
}

.search-user-box input {
  border: none;
  outline: none;
  font-size: 1rem;
  padding-left: 5px;
}

.search-user-dropdown {
  position: absolute;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid #003b88;
  display: none;
  background-color: #ffffff;
  margin-top: 10px;
}

.search-user-dropdown-item {
  margin-bottom: 6px;
  cursor: pointer;
}

.search-user-dropdown-item:hover {
  background-color: #e6e6e6;
  border-radius: 5px;
}

.account-table {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.filter-header-table {
  font-size: 80%;
  margin-right: 5px;
  cursor: pointer;
}

.accounts-table-header th {
  background-color: #003b88;
  color: white;
}

.accounts-table-header tr {
  border: 1px solid #000;
}

.row-table-accounts td {
  border: 1px solid #bbbbbb;
}

.row-table-accounts:hover td {
  background-color: #f0f0f0;
}

.row-edit-user:hover{
  cursor: pointer;
  color: #717171;
}

.row-send-email{
  margin-left: 15px;
}

.row-send-email:hover{
  cursor: pointer;
  color: #717171;
}

.row-table-accounts:hover {
  cursor: default;
}

.accounts-table-id {
  text-align: center;
}

.accounts-table-obj{
  text-align: center;
}

.th-div-account{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.filter-icon{
  margin-right: 5px;
}

.dropdown-item:hover {
  color: black;
}

.form-check-filter{
  display: flex;
  flex-direction: column;
}

.filter-check-label{
}

.check-input-filter{
  margin: 8px;
}

.select-role-item{
  width: 100%;
  background-color: #ffffff00;
  border: none;
}

.select-role-item:hover{
  cursor: pointer;
}
