.anuncios-container{
  display:flex;
  flex-direction: row;
  background-color: rgb(255,255,255);
}

.anuncios-container-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top:10px;
}

.anuncios-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;
}

.anuncios-container-controls {
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
}
  
.anuncios-column {
  flex: 1;
  margin: 10px;
  text-align: center;
}
  
  /* Ajusta los estilos según tus preferencias */
.anuncios-column select, input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
  

/*Viñetas de la lista*/

.anuncio-ul {
  list-style-type: none;
  padding: 0;
} 

.anuncio-icon-persona {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 30px;
  color: #5281ce;
}
  
.anuncio-titulo {
  font-size: 18px;
  font-weight: bold;
}

.anuncio-descripcion {
  font-size: 14px;
  color: #555;
}

.anuncio-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
}

.dropdown-item {
  padding: 5px 10px;
  cursor: pointer;
}
 .ml-align {
  
 }

/*Estilos para el menu de opciones*/
