.anuncios-container{
  display:flex;
  flex-direction: row;
  background-color: rgb(255,255,255);
  width:100%;
}

.anuncios-container-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255,255,255);
}

.anuncios-container-controls {
  height: 9.8vh;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.anuncios-crear-button{
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 22px;
  background: none;
  border: 1px solid #5281ce;
  border-radius: 5px;
  height: 6.6vh;
  width: 6.6vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.anuncios-crear-icon{
  font-size: 26px;
  color: #5281ce;
  text-align: center;
}

.anuncios-column {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.anuncio-item-box{
  border: 1px solid #ccc;
  display:flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
}

.anuncio-item-2{
  width:75%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.anuncio-item-3{
  width:15%;
  text-align: end;
  padding-right: 25px;
}

.anuncios-group-button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5%;
  margin-bottom: 10px;
}

.announce-edit-button{
  border: 1px solid #5281ce;
  border-radius: 8px;
  background: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}

.anuncio-icon-persona {
  font-size: 40px;
  width:10%;
  color: #5281ce;
  align-self: center;
}

.anuncio-icon-button {
  font-size: 15px;
  color: #5281ce;
}
  
.anuncio-titulo {
  font-size: 18px;
  font-weight: bold;
}

.anuncio-descripcion {
  font-size: 14px;
  color: #555;
}

.anuncio-div-span{
  display: flex;
  flex-direction: column;
}

.anuncio-div-span a{
  font-size:14px;
  color: #6b6b6b;
}

.anuncio-div-span span{
  font-size: 14px;
  font-weight:600;
}

.anuncio-dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1;
}

.dropdown-item {
  padding: 5px 10px;
  cursor: pointer;
}

.anuncios-show-box{
  height:90vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  background-color: rgb(255,255,255);
  overflow-y: auto;
}

.custom-searchbar{
  width:30%;
  height: 6.6vh;
  border: 1px solid #5281ce;
  border-radius: 10px;
  padding: 10px;
  margin: 8px;
  margin-left:auto;
}

.input-search-box{
  height:auto;
  border:none;
  padding-left: 8px;
  outline: none;
}