body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.historial-container {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  overflow-y: auto;
}

.historial-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.historial-header {
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
}

.historial-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.historial-table {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  overflow-y: scroll;
  font-size: 1rem;
  text-align: center;
}

.historial-table-header th {
  background-color: #113946;
  color: white;
}

.historial-table-header tr {
  border: 1px solid #000;
}

.td-items-historial {
  width: 10px;
  border: 1px solid #bbbbbb;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.td-info-accion {
  max-width: 100px;
  height: auto;
  white-space: wrap;
  border: 1px solid #bbbbbb;
  overflow: hidden;
  text-overflow: ellipsis;
}