.style-chequeo-title {
    font-size: 40px;
    padding: 15px;
    color: #333;
    font-weight: bold;
}

.style-chequeo-header {
    display: flex;
    justify-content:space-between;
    align-items: normal;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    margin: 10px;

}

.style-chequeo-cont {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}
.table-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.custom-table {
    border-collapse: collapse;
    width: 95%;
  
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.custom-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

.custom-table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.button-estadisticas-reportes {
    margin: auto;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;text-align: center;
    color: #fff;
    background-color:#113946;
    border: 1px solid #113946;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.button-estadisticas-reportes:focus {
    box-shadow: 0 0 0 3px #113946;
}    
.button-estadisticas-reportes:active {
        transform: translateY(2px);
}


.button-metodo-pago {
    margin: auto;
    width: 70%;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;text-align: center;
    color: #fff;
    background-color:#113946;
    border: 1px solid #113946;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.button-metodo-pago:focus {
    box-shadow: 0 0 0 3px #113946;
}    
.button-metodo-pago:active {
        transform: translateY(2px);
}