/* styles.css */
.dashboard-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
}

.dashboard-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.dashboard-body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e3e3e3;
  margin-left: 3%;
}

.dashboard-titulo {
  margin-left: 1rem;
}
.button-create {
  margin-right: 4rem;
  width: 15rem;
}
button.accordion-button.collapsed {
  background-color: #cfe2ff;
  width: 60rem;
}

.information {
  padding: 1rem;
  width: 86%;
  color: #676666;
  border: 1px solid #676666;
  border-radius: 0px;
  text-align: start;
}

.information-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.section-card-container.flex.flex-row.flex-wrap.gap-3.center {
  justify-content: center;
}
