
.dashboard-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.dashboard-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  overflow: auto;
}

.dashboard-body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e3e3e3;
  margin: 3px;
  
}

.dashboard-titulo {
  margin-left: 1rem;
}
.button-create {
  margin-right: 4rem;
  width: 15rem;
}
button.accordion-button.collapsed {
  background-color: #cfe2ff;
  width: 60rem;
}



.information-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.section-card-container{
  justify-content: center;
}

.quick-access-text {
  text-align: center;
  margin-bottom: 10px;
  color: #113946;
  font-weight: bold;
  font-size: 20px;
}

.custom-button {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.custom-button Button {
  background-color: #113946;
  margin-bottom: 8px; 
}


.custom-button Button:last-child {
  margin-bottom: 0; 
}



.custom-button Button:hover {
 
  background-color: #bba37f;
  
}
