/* styles.css */
.dashboard-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
}

.dashboard-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.dashboard-body {
    display: flex;
    flex-direction: column;
    padding-left: 2%;
    background-color: rgb(255, 255, 255);
}

.dashboard-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #e3e3e3;
    margin-left: 3%;
}

.section-card-container {

}
