/* styles.css */
.dashboard-container {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
}

.dashboard-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.dashboard-body {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.dashboard-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid #e3e3e3;
  margin: 3px;
  
}

.dashboard-titulo {
  margin-left: 1rem;
}
.button-create {
  margin-right: 4rem;
  width: 15rem;
}
button.accordion-button.collapsed {
  background-color: #cfe2ff;
  width: 60rem;
}

.information {
  padding: 2rem;
  width: 86%;
  height:auto;
  color: #676666;
  border: 1px solid #676666;
  border-radius: 0px;
  text-align: start;
}

.information-container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.section-card-container{
  justify-content: center;
}

.dashed-line {
  width: 86%;
  height: 2px;
  background-image: linear-gradient(to right, #113946 33%, transparent 33%),
  linear-gradient(to right, #113946 66%, transparent 66%);
  background-size: 10px 100%;
  margin: 3px;
  background-repeat: repeat-x;
  margin: 0 auto;
}

.quick-access-text {
  text-align: center;
  margin-bottom: 10px;
  color: #113946;
  font-weight: bold;
  font-size: 20px;
}
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.quick-access-button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #676666;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.quick-access-button:hover {
  background-color: #555;
}