.document-db-container {
  display: flex;
  flex-direction: row;
}

.document-title {
  font-size: 2rem;
  font-weight: bold;
  color: #113946;
  text-align: left;
  margin: 0;
}

.document-list-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 3%;
  margin-left: 3%;
  overflow: auto;
}

.visualization-container {
  overflow: auto;
}

.archivo-box {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.visualization-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 30px;
}

.archivo-visualizador-title-list {
  width: 100%;
  overflow-y: auto;
}

.archivo-visualizador-title {
  font-size: 1.1rem;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.archivo-visualizador-size {
  font-size: 0.9rem;
  color: #565656;
  font-family: Arial, Helvetica, sans-serif;
}

.archivo-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
}

.archivo-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.archivo-visualizador-button {
  font-size: 20px;
  cursor: pointer;
}

.archivo-visualizador-button:hover {
  color: #007bff;
}

.upload-section {
  background-color: #f2f2f2;
  padding: 15px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.upload-section button {
  font-size: 20px;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #007bff;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 5px;
}

.search-input {
  align-self: flex-end;
  margin-left: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 50%;
}

.upload-file-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 10px;
  margin-left: 10px;
}

.archivo-visualizador-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-upload-file {
	top: 3%;
  width: 45%;
}

.modal-upload-header{
	background-color: #113946;
	border-radius: 8px 8px 0 0;
	margin-bottom: 4%;
}

.modal-upload-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  align-self: flex-start;
  margin-right: auto;
  margin: 3% 0 3% 5%;
}

.custom-file-upload {
  display: flex;
  gap: 10px;
  width: 82%;
  margin: 0 9% 3% 9%;
  flex-direction: column;
}

.label-file-box {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 36vh;
  padding: 20px;
  border-radius: 15px;
  border: 2px dashed #555;
  color: #444;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.cloud-upload-icon {
  font-size: 50px;
  color: #7a7a7a;
}

.drop-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #7a7a7a;
}

.file-upload-input {
  display: none;
}

.select-files-label{
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: #adadad;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.select-files-label:hover{
  background-color: #007bff;
}

.preview-file-title{
  font-size: 1.1rem;
  color: #113946;
  margin-left: 9%;
  margin-bottom: 2%;
}

.footer-upload-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 4%;
  margin-right: 9%;
}

.confirm-upload-button {
  border: none;
  padding: 7px 18px;
  border-radius: 5px;
  background-color: #113946;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.confirm-upload-button:hover {
  background-color: #007bff;
}

.close-upload-button {
  border: 1px solid #ccc;
  padding: 7px 18px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.close-upload-button:hover {
  background-color: #ccc;
}

.preview-file-container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  width: 82%;
  border: 1px solid #ccc;
  height: 12vh;
  margin: 0 9% 3% 9%;
  overflow: auto;
}

.file-preview{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
	padding: 10px 20px;
	border-bottom: 1px solid #ccc;
  text-wrap: nowrap;
  background-color: #11394613;
}

.preview-file-remove{
  justify-self: flex-end;
  margin-left: auto;
  color: #113946;
}

.preview-file-remove:hover{
  color: #d20000;
}

.preview-file-icon{
  font-size: 20px;
  margin-right: 10px;
  color: #113946;
}

.no-files-selected{
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: #113946;
}