.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 70%;
}



.button-loading {
  width: 100%;
  max-width: 200px;
  margin: 0 2rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  color:  #002659;; 
  background-color: #fff; 
  border: 2px solid  #002659;; 
}


.button-loading:hover {
  color: #fff; 
  background-color:  #02306c; 
  border-color: #02306c; 
}
.button-loading:focus {
  box-shadow: 0 0 0 3px #002659; 
}

.button-loading:active {
  transform: translateY(2px);
}

.loading-container {
  max-width:500px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.message {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 480px) {
  .loading-container {
    max-width: 90%;
  }
}

.large-message {
  font-size: 202px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #002659;
  
}

.image {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
