.body-navbar-plataforma{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6.5%;
    height: 100vh;
    background-color: rgb(0, 144, 178);
}

.unitec-icon-logo{
    width: 70%;
    margin-top: 15px;
}

.link-navbar-plataforma{
    color: rgb(255,255,255);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.link-navbar-plataforma:hover{
    text-decoration: none;
}

.link-navbar-plataforma img{
    margin-bottom: 5px;
}

.navbar-plataforma-icon{
    width: 30px;
    fill:white;
}

.back-navbar-icon{
    justify-self: flex-end;
    width: 40px;
    margin-top: auto;
    margin-bottom: 20px;
}

:root { 
    --black: #000000;
    --nb-font-size-m: 20px;
    --nb-font-family-neuemontreal-medium: "NeueMontreal-Medium", Helvetica;
  }
  