.body-navbar-plataforma{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 100vh;
    background-color: rgb(8, 119, 209);
}

.link-navbar-plataforma{
    color: rgb(255,255,255);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.link-navbar-plataforma:hover{
    text-decoration: none;
}

.link-navbar-plataforma img{
    margin-bottom: 5px;
}

.navbar-plataforma-icon{
    font-size: 28px;
    margin-bottom: 4px;
}

.back-navbar-icon{
    justify-self: flex-end;
    width: 40px;
    margin-top: auto;
    margin-bottom: 20px;
}

:root { 
    --black: #000000;
    --nb-font-size-m: 20px;
    --nb-font-family-neuemontreal-medium: "NeueMontreal-Medium", Helvetica;
  }
  

.nb-custom-dropdown {
    position: relative;
    margin-bottom: 5px;
}

.nb-dropdown-header {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: none;
    font-size: 15px;
    font-family: var(--nb-font-family-neuemontreal-medium);
    border: none;
    outline: none;
    text-align: center;
}

.nb-navbar-user-icon{
    font-size:30px;
    padding-top: 15px;
    padding-bottom: 5px;
    color:white;
}

.nb-drop-arrow{
    width: 10px;
    margin-left:5px;
    color:white;
}

.nb-dropdown-icon{
    font-size: 15px;
    color:white;
    margin-right: 5px;
}

.nb-dropdown-items {
    background: none;
    width: 100%;
    margin-top: 10px;
}

.nb-dropdown-item {
    cursor: pointer;
    border:none;
    background: none;
    color: #ffffff;
    font-size: 13px;
    margin-bottom: 10px;
}

.nb-dropdown-item:hover {
    color: #e7e7e7;
}