.pacientes-container {
  display: flex;
  flex-grow: initial;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.navbar2 {
  display: flex;
  flex-direction: row;
}
.pacientes-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left:113px;
}


.title-pacientes2 {
  font-size: 40px;
  color:#26586c !important;
  font-weight: bold;
}
.conteiner-card-text{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 280px;
  height: 180px; 
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-persona {
  font-size: 60px;
  color: #113946;
  margin-bottom: 10px;
}

.card-title {
  font-size: 18px;
}

.dropdown {
  background-color: #113946;
  position: relative;
  display: inline-block;
  margin-top: auto;
}

.dropdown-menu {
  position: absolute;
  background-color: #113946;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px 0;
  min-width: 120px;
  z-index: 1;
  right: 0;
  left: auto;
  margin-top: 10px;
}

.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  color: white;
  transition: background-color 0.3s;
  line-height: 1;
}

.dropdown-item:hover {
  background-color: #395eaf;
}
.IniciarConsulta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 30px;
  right: 20px; 
}

.consultation-btn {
  padding: 10px 20px;
  border: none;
  background-color: #26586c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.consultation-btn:hover {
  background-color: #1c4351;
}