.modal-content {
  background-color: #f8f9fa;
  border: none;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
}

.modal-footer {
  border-top: 1px solid #ced4da;
  padding: 20px;
}



@media (min-width: 576px) {
  .btn-secondary {
    max-width: 150px;
  }
}

@media (min-width: 768px) {
  .btn-secondary {
    max-width: 120px;
  }
}

@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 97%;
  }
}
