/* PopUp_CrearUser.css */

.popup-overlay-ar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: opacity 0.3s ease;
}

.popup-ar {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 90%;
  width: 400px;
  text-align: center;
  position: relative;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.form-header-ar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #003b88;
  color: #fff;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  font-size: 1.3rem;
  font-family: sans-serif;
}

.form-title-ar {
  max-width: 70%;
  text-align: left;
}

.form-body-ar {
  padding: 40px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.form-buttons-ar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.form-guardar-ar {
  background: none;
  color: #003b88;
  border: 1px solid #003b88;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.5s ease;
}

.form-guardar-ar:hover {
  background: #003b88;
  color: #fff;
  border: 1px solid #003b88;
}

.form-cancel-ar {
  background: none;
  color: #003b88;
  border: 1px solid #003b88;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease;
  margin-right: 10px;
}

.form-cancel-ar:hover {
  background: #c00000;
  color: #fff;
  border: 1px solid #c00000;
}

.close-icon-ar {
  cursor: pointer;
}

.close-icon-ar:hover {
  color: rgb(206, 206, 206);
}

.row-rol-usuario {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.row-rol-disponibles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.select-box-rol {
  border: 1px solid #878787;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  margin-right: 10px;
}

.eliminar-rol-user:hover{
    color: #727272;
}

.agregar-rol-user:hover {
    color: #727272;
}

.admin-rol-icon {
  margin-left: 5px;
}

.label-select-box{
    margin-bottom: 10px;
}