/* Estilos base */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #fff;
  padding: 30px; /* Aumenta el espacio interno para hacerlo más grande */
  border: 2px solid #ccc; /* Aumenta el tamaño del borde */
  border-radius: 10px; /* Aumenta el radio del borde para hacerlo más redondeado */
  width: 80%; /* Aumenta el ancho del popup */
  max-width: 800px; /* Establece un ancho máximo */
}

.user-info {
  text-align: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.user-detail {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.value {
  flex-grow: 1;
}

/* Estilos para pantallas pequeñas (menos de 768px de ancho) */
@media (max-width: 768px) {
  .popup {
    width: 90%;
  }

  .user-info h2 {
    font-size: 1.2rem;
  }

  .image-container {
    margin-right: 10px;
  }

  .profile-image {
    max-width: 100px;
    max-height: 100px;
  }
}
