
body,
html {
    margin: 0;
    padding: 0;
   background-color: #113845;    
}

.containerReg {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    background-color: #113845;  
}

.title-reg {
    font-size: 28px;
    font-weight: 600;
    color: #002659;
}

.input-reg {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box !important;
    outline: none; 
    background-color: #d9d9d9;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-reg-form {
    font-size: 16px;
    font-weight: 600;
    color: #002659;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: flex-start;
}

.error-message-reg {
    color: red;
    font-size: 12px;
    margin: -15px 0 -15px 0;
    align-self: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-reg::placeholder {
    color: rgb(104, 104, 104);
}

.button-reg,
.forgot-passwordR {
  
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 60%;
    padding: 5px;
    margin: 30px;
    align-items: center;
}

.button-reg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: #c6161c !important;
    color: #fff !important;
    border-radius: 30px !important;
    border: none !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25) !important;
}

.forgot-passwordR {
    color: #002659;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}



.title-reg {
    font-size: 28px;
    font-weight: 600;
    color: #002659;
    margin-bottom: 20px;
}

.content-wrapper {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0; 
    text-align: center; 
}
.register-doctor-image {
    margin-right: -132px;
    position: relative;
    z-index: 1; 
}

.form-container {
    width: 700px;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    position: relative; 
    z-index: 0; 
    
}





