.role-admin-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.role-admin-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
}

.form-header-ra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6.5% 0px 6.5%;
  font-size: 2.5rem;
  font-family: sans-serif;
}

.column-header-ra{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
}

.roles-admin-img{
  width: 80%;
  align-self: flex-end;
  margin-left: auto;
  margin-top: auto;
  justify-self: flex-end;
}

.column-row-ra{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.form-title-ra {
  max-width: 70%;
  text-align: left;
}

.form-body-ra {
  padding: 2% 6.5% 20px 6.5%;
  gap: 20px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editar-rol-pencil-ra{
  margin-left: 5px;
  font-size: 0.9rem;
}

.editar-rol-pencil-ra:hover{
  color: #ababab;
}

.editar-rol-label-ra{
  color: #555555;
  cursor: pointer;
}

.editar-rol-label-ra:hover{
  color: #ababab;
}

.container-select-roles{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title-columns-ra {
  font-size: 2rem;
  align-self: flex-start;
  color:#373737;
}

.title-descripcion-ra {
  font-size: 1.2rem;
  margin-top: 20px;
  align-self: flex-start;
  color: #6b6b6b;
}

.span-descripcion-ra {
  font-size: 1.2rem;
  color: #6b6b6b;
  text-align: justify;
  width: 90%;
  text-wrap: wrap;
  height: 70px;
  margin-bottom: 15px;
}

.select-privileges-box {
  border: 1px solid #ababab;
  width: 300px;
  padding: 7px;
  font-size: 1rem;
}

.privilege-container-ra {
  border: 1px solid #ababab;
  width: 90%;
  min-height: 310px;
  overflow-y: scroll;
}

.privileges-form-ra{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.privilege-checkbox-ra {
  width: 20px;
}

.row-privilege-ra {
  display: flex;
  width: 100%;
  padding: 6px;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ababab;
}

.privilege-label-ra{
  margin-left: 5px;
  padding-left: 10px;
  font-size: 1rem;
  border-left: 1px solid #ababab;
}

.roles-container-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow:auto;
  max-height: 250px;
}

.card-box-role{
  border-bottom: 1px solid #ababab;
  width: 100%;
  font-size: 1.2rem;
  color: #113946;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0 10px 0;
}

.botones-role-box{
  align-items: flex-end;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 1.2rem;
}

.boton-editar-role{
  padding-right: 10px;
  border-right: 1px solid #b1b1b1;
}

.container-crear-rol{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.input-group-crear-rol{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.nombre-crear-rol{
  border:1px solid #113946;
  background-color: #c8d5d982;
  color: #113946;
  padding: 5px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 4px;
}

.descripcion-crear-rol{
  border:1px solid #113946;
  background-color: #c8d5d982;
  color: #113946;
  padding: 8px;
  resize: none;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 4px;
}

.boton-crear-rol{
  width: 25%;
  margin-left: 5%;
  padding: 10px;
  border-radius: 8px;
  background-color: #113946;
  border: none;
  color: #fff;
}

.confirmar-modal-ra{
  width: 250px;
  margin-left: 5%;
  padding: 10px;
  background-color: #113946;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.cancelar-modal-ra{
  width: 250px;
  margin-left: 5%;
  padding: 10px;
  background-color: #113946;
  border: none;
  color: #fff;
  border-radius: 5px;
}

.modal-div-ra{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin-left: 10px;
  justify-content: flex-start;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 20px;
}

.modal-container-ra{
  display: flex;
  flex-direction: row;
  padding: 20px 20px 20px 20px;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}

.title-privileges-container{
  font-size: 1.2rem;
  align-self: flex-start;
  margin-right: auto;
}

.editar-privilegios-ra{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10%;
}

.botones-editar-privilegio{
  width: 40%;
  padding: 10px;
  background-color: #113946;
  border: none;
  color: #fff;
  border-radius: 5px;
}