/* Estilos para las tarjetas de cursos */
.course-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para el título del curso */
.course-card h3 {
  font-size: 18px;
  margin: 0;
}

/* Estilos para la UV */
.course-card p {
  font-size: 14px;
  margin: 8px 0;
  color: #333;
}

.sections {
  display: flex;
  align-items: flex-start;
}

.title-seccion {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(196, 193, 193);
  margin-bottom: 3rem;
}
.title-seccion,
.section-container {
  margin-left: 7rem !important;
}

.section-container {
  margin-top: -1%;
}
div.row {
  margin-top: 2%;
  margin-left: -3%;
}

.title-section-card.card-title.h5 {
  text-decoration: none;
  font-size: 1.6rem;
}

.title-section-card.card-title.h5:hover {
  color: black;
}

p.section-text.card-text > :nth-child(3) {
  display: flex;
}
div.card-body {
  margin: 1rem;
}

@media screen and (max-width: 900px) {
  .section-container {
    margin-top: 2%;
    margin-left: 1% !important;
    justify-content: center;
  }

  .title-seccion {
    margin-left: 7% !important;
  }
}
