.list-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 0 0 0 !important;
  padding: 0 !important;
  background-color: rgb(255, 255, 255);
}

.profile-container {
  display: flex;
  align-items: center;
}

.profile-image {
  width: 120px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 120px; /* Ajusta el tamaño de la imagen según tus necesidades */
  border-radius: 50%; /* Hace que la imagen sea circular */
  /* Borde alrededor de la imagen (opcional) */
  margin-right: 20px;
}

.image-container {
  position: relative;
}

/* Estilos para la imagen */
.unitec-image {
  position: relative;
  top: 0;
  right: 0;
  height: 50px;
  /* Puedes ajustar la distancia desde el borde superior y derecho según tus necesidades */
}

.profile-text {
  margin-top: 50px;
  text-align: center;
  font-style: Times normal;
  font-size: 15px;
  font-weight: bold;
}

.columna {
  border: 2px solid red;
}

.with-underline {
  text-decoration: underline;
}

.text-container {
  display: grid;
  grid-template-columns: max-content 1fr; /* La primera columna con ancho automático y el resto del espacio disponible */
  gap: 10px; /* Espacio entre las columnas */
  align-items: center; /* Centrar verticalmente */
}

.fs-5 {
  align-self: center;
}

.fs-5-alignment {
  text-align: right;
  margin: 5;
}

.h3 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  margin-left: 20%;
  margin-top: 7%;
}

.card-vistas {
  width: 80rem;
  margin-left: 60px;
}

.card-header {
  background-color: #0b5ed7;
  color: white;
  text-align: center;
}

.card-title {
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}

.card-link {
  display: block;
  margin-top: 10px;
  color: #0b5ed7;
  text-decoration: none;
  font-weight: bold;
}

.card-link:hover {
  text-decoration: underline;
}

.fixed-download-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.fixed-clear-button {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 1000;
}


.fixed-buttons-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.fixed-download-button,
.fixed-clear-button {
  width: 150px; 
}


