.page-container {
  max-width: 816px;
  max-height: 1056px;
  margin: 10px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.529);
}

.encabezado-image {
  width: auto; 
  height: auto; 
  display: flex;
}

.Titulo h1{
  font-size: 2em;
  color: #000000;
  text-align: center;
  margin-top:30px;
}

.profile-container {
  display: flex;
  align-items: center;
}



.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 50px;
}

.title-margin {

  margin-bottom: 100px;
  font-size: 1.3em;


}

.paragraph-margin {
  margin-bottom: 100px; 
  font-size: 1.3em;
}


.fixed-download-button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 150px;
}

.fixed-clear-button {
  bottom: 70px;
}

.fixed-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.patient-info-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.patient-info-table td {
  border: 1px solid #dddddd;
}

.patient-info-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.patient-info-table tr:hover {
  background-color: #ddd;
}

.left-column {
  width: 40%; 
  font-weight: bold;
  padding: 12px;
}

.right-column {
  width: 60%; 
  padding: 12px; 
}
