input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000000 !important;
}

.bodyR {
    background-image: url("../Images/bgReg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: auto;
    position: relative;
    z-index: 1;
    animation: fadeIn 0.65s ease-in-out;
}

.bodyR::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 38, 89, 0.8);
    z-index: 1; /* Asegura que el color esté por encima de la imagen */
}

.wizard-pregunta{
    height: auto;
    padding: 15px 15px 0 15px;
    z-index: 3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-style: bold;
    text-align: center;
}

.wizard-respuestas{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    z-index: 3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.wizard-respuesta{
    height: auto;
    padding: 15px;
    border-radius: 10px;
    width: 350px;
    z-index: 3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-bottom: 3vh;
    cursor: pointer;
    border: none;
    background-color:  rgba(0, 38, 89, 0.8);;
    color: white;
}

.wizard-respuesta:hover{
    background-color: rgb(70, 102, 161);
}

.wizard-mascota{
    position: absolute;
    height: auto;
    right: 80%;
    top: 27%;
    padding: 15px;
    border-radius: 10px;
    z-index: 3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.howie-img{
    position: fixed;
    height: auto;
    padding: 15px;
    left: 20vw;
    border-radius: 10px;
    width: 15vw;
    z-index: 2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}


.register-form {
    position: fixed;
    align-items: center !important;
    top: 50%;
    left: 45vw;
    right: 45vb;
    transform: translate(50%, -50%);
    width: 500px;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 20px;
    z-index: 3;
}

.progress-bar {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 20%;
    padding: 5px;
    border-radius: 20px;
    z-index: 2;
}
.custom-progress-bar{
    background-color: #d9d9d9;
    border-radius: 20px;
    height: 10px !important;
}


.containerReg {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.title-reg {
    font-size: 28px;
    font-weight: 600;
    color: #002659;
}

.input-reg {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box !important;
    outline: #282c34;
    background-color: #d9d9d9;
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.label-reg-form{
    font-size: 16px;
    font-weight: 600;
    color: #002659;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: flex-start;
}

.error-message-reg {
    color: red;
    font-size: 12px;
    margin: -15px 0 -15px 0;
    align-self: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-reg::placeholder {
    color: rgb(104, 104, 104);
}

.button-reg,
.forgot-passwordR {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 60%;
    padding: 10px;
    align-self: center; 
}

.button-reg {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: #c6161c !important;
    color: #fff !important;
    border-radius: 30px !important;
    border: none !important;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25) !important;
}

.forgot-passwordR {
    color: #002659;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}